/* Default styles for larger screens (e.g., desktop) */
.swiper {
    height: 50%;
    width: 1100px;
}

/* Default styles for larger screens */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 250px;
    height: 100%;
    object-fit: cover;
}

/* Media query for tablets (e.g., iPad) */
@media (max-width: 900px) {
    .swiper {
        height: 50%;
        width: 90%;
        /* Adjust to your preferred tablet width */
        margin: 0 auto;
        /* Center the Swiper horizontally */
    }

    .swiper-slide {
        font-size: 16px;
        /* Adjust font size for tablets */
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    .swiper {
        height: 40%;
        /* Adjust height for mobile */
        width: 90%;
        /* Adjust width for mobile */
    }

    .swiper-slide {
        font-size: 14px;
        /* Adjust font size for mobile */
    }
}