@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
    background-image: url('../assets/third-section.jpg');
    background-repeat: no-repeat;
    block-size: cover;
    width: 100%;
    height: 150px;

}

.clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}